{% extends "main/index.html" %}
{% load static %}
{% block style %}
    <!-- custom styles -->
    <link rel="stylesheet" href="{% static 'authentication/css/login.css' %}">
{% endblock %}

{% block aside %}{% endblock %}

{% block content %}
<!-- main-block -->
<main>
    <form action="" method="POST">
        {% csrf_token %}
        {% if messages %}{% for m in messages %}{{ m }}{% endfor %}{% endif %}
        {{ form.as_p }}
        <div style="display: flex; justify-content: center;"><button type="submit">Sign Up</button></div>
    </form>
</main>
{% endblock content %}