*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-bg-main: #ffffff;
    --clr-bg-header: #a0a89c;
    --clr-bg-footer: #e8f0e8;

    --text-font: sans-serif;
    --clr-text: #000000;
    --clr-link: #333333;
    --clr-link-active: #88ee35;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header" 
    "main"
    "footer";
    grid-gap: 10px;
    min-height: 100vh;
    background-color: var(--clr-bg-main);
}

main {
    grid-area: main;
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

main form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

main form .errorlist {
    order: -1;
    flex-direction: column;
    align-items: start;
}

main form .errorlist li {
    margin: 0;
}

main form p {
    display: flex;
    flex-direction: column;
}

main form p .helptext {
    display: none;
}