{% extends "main/index.html" %}

{% block header %}
<!-- header -->
<header>
    <div class="list-header">
        <div class="brand">
            <a href="{% url 'home' %}" class="text-decoration-none"><h2 class="navbar-brand fs-2" style="margin:0;padding:0;">Mysite!</h2></a>
            <span>It's my first site on python</span>
        </div>
        <button id="menuToggler">M</button>
    </div>
    <section id="menu">
        <button id="themeLight" class="light">light</button>
        <button id="themeDark" class="dark">dark</button>
        <ul>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
        </ul>
        <form action="{% url 'search' %}" method="GET">
            <input type="search" name="search_query" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </section>
</header>
            
{% endblock %}

{% block content %}
<!-- main-block -->
<main>
    <section>
        {% if post.image %}<img src="{{ post.image.url }}">{% else %}<img src="">{% endif %}
        <div class="article-content">
            <h2>{{ post.name }}</h2>
            <p>{{ post.text }}</p>
            <i>{{ post.date }}</i>
            <i>{{ post.views }} views</i>
        </div>
    </section>
</main>
{% endblock content %}

{% block comments %}

<section class="comments">
    <h3>Commentaries</h3>
</section>

{% endblock %}