{% extends "main/index.html" %}

{% block header %}
<!-- header -->
<header>
    <div class="list-header">
        <div class="brand">
            <a href="{% url 'main:home' %}" class="text-decoration-none"><h2 class="navbar-brand fs-2" style="margin:0;padding:0;">Mysite!</h2></a>
            <span>It's my first site on python</span>
        </div>
        <button id="menuToggler">M</button>
    </div>
    <section id="menu">
        <button id="themeLight" class="light">light</button>
        <button id="themeDark" class="dark">dark</button>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="#">{{request.user.username}}</a></li>
            {% else %}
            <li><a href="#">Not logged in</a></li>
            {% endif %}
        </ul>
        <form action="{% url 'main:search' %}" method="GET">
            <input type="search" name="search_query" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </section>
</header>
            
{% endblock %}

{% block content %}
<!-- main-block -->
<main>
    <section>
        {% if post.image %}<img src="{{ post.image.url }}">{% else %}<img src="">{% endif %}
        <div class="article-content">
            <h2>{{ post.name }}</h2>
            <p>{{ post.text }}</p>
            <i>{{ post.author }}</i>
            <i>{{ post.date }}</i>
            <i>{{ post.views }} views</i>
        </div>
    </section>
</main>
{% endblock content %}

{% block comments %}

<section class="comments">
    <h3>Commentaries</h3>
    {% if user.is_authenticated %}
    <h5>Add commentary</h5>
    <form method="POST">
        {% csrf_token %}
        {{message}}
        {{form}}
        <p><button type="submit">Add</button></p>
    </form>
    {% endif %}
    {% for c in comments %}
    <div>
        <p><b>{{ c.author }}</b></p>
        <p class="comment-text">{{ c.text }}</p>
        <i>{{ c.date }}</i>
        {% if c.author.username == user.username and c.author.pk == user.pk %}
        <form method="POST">
            {% csrf_token %}
            <p><button type="submit" name="delete-comment" value="{{c.id}}|{{c.date|date:'Y M D'}}">Delete</button></p>
        </form>
        {% endif %}
    </div>
    {% endfor %}
</section>

{% endblock %}